.page {
	background: #1D1D1D;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
	color: transparent;
}

.Hui-iconfont {
 font-family: "Hui-iconfont";
 font-size:30rpx;
}

.iconv-uparrow:after {
  content:'\e6d6';
}

.iconv-downarrow:after {
  content:'\e6d5';
}

.recharge-info {
	width: 100%;
	margin-top: 20rpx;
	background: #F2F2F2;
	z-index: 1;
}

.recharge-level {
	display: flex;
	flex-direction: row;
	justify-content:space-around; 
	background-color: #FF952D;
	padding: 10rpx;
	z-index: 1;
}

.recharge-level .recharge-item {
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	text-align: center;
	align-items: center;
	width: 130rpx;
	height: 100rpx;
	padding: 10rpx;
	border-radius: 20rpx;
	border: 1rpx solid #eee;
	overflow: hidden;
	background-color: #FFCA4B;
}

.recharge-item-selected {
	background: #fff4e3!important;
	color: #000000!important;
}

.recharge-item-unselected {
	background: #fff;
	color: #444;
}
.recharge-item text {
	font-size: 22rpx;
	padding: 0;
	margin: 0;
}

.recharge-item-amount {
	font-size: 38rpx;
	font-weight: bold;
	padding: 5rpx;
	margin-bottom: 20rpx;
}

.recharge-item-amount:before {
	content: '￥';	
}

.recharge-recomment {
	width: 100%;
	background-color: #f2f2f2;
	background-repeat: norepeat;
	align-content: center;
	opacity: 1;
	background-size: 100% 100%;
}

.recharge-recomment image {
  width: 100%;
  height: 300rpx;
}

.recharge-confirm {
	display: flex;
	position: fixed;	
	flex-direction: row;
	justify-content:center; 
	text-align: center;
	align-content: center;
	width: 100%;
	height: 96rpx;	
	z-index: 100;
	bottom: 0;
	border-top: 1px solid #eee;
	background: #FFFFFF;
	padding: 12rpx;
}

.recharge-confirm button {
	line-height: 96rpx;
	width: 250rpx;
	height: 96rpx;
	/*background: linear-gradient(to bottom, #e34c55 0%,#e30715 100%);*/
	background: #FF952D;
	color: #ffffff;
	font-size: 32rpx;
	border-radius: 20rpx;
	margin-right:50rpx;
}

.recharge-confirm text {
	display: flex;
	flex-direction: row;
	justify-content:center; 
	text-align: center;
	align-content: center;	
	margin:0 auto ;
	padding:20rpx 0;
	z-index: 1;	
}
.recharge-amount {
	width: 15%;
	font-size:30rpx !important;
	font-weight: bold;
	margin: 0 !important;
	text-align: left !important;
}

.recharge-agreement{
	padding-bottom: 60px;
}
.recharge-amount:before {
	content: '￥';	
}
.recharge-confirm .recharge-title{
	width: 20%;
}
.carts-container {
	position: relative;
	width: 100%;
	height: 300rpx;
}

.carts-info{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.carts-item {
	width: 98%;
	display: flex;
	flex-direction: row;
	height: 250rpx;
	border-bottom: 1px solid #444;
	border-radius: 20rpx 20rpx 20rpx 20rpx;
	padding: 20rpx 0;
	margin-top:10rpx;
	background: #444;
	z-index: 1;
}

.carts-image {
	width: 120rpx;
	height: 120rpx; 
	margin: 40rpx 20rpx;
}

.carts-text {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


.carts-title {
	font-size: 26rpx;
	color: #F2F2F2;
	line-height: 32rpx;
}

.carts-sku {
	font-size:24rpx;
	color:#999;
	height:110rpx;
}

.carts-sku text{
	font-size:24rpx;
	color:#999;
	height:40rpx;
	line-height: 20rpx;
}

.carts-recharge-title {
	font-size: 28rpx;
	color: #F2F2F2;
	font-weight: 700;
	line-height: 32rpx;
}

.carts-recharge-note {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 25rpx;
	color: #F2F2F2;
	line-height: 32rpx;
	margin-right: 20rpx;
}

.carts-en-price {
	color: #e34c55;
	font-size: 12px;
	line-height: 18px;
	width: 150rpx;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.order-item {
	width: 100%;
	position: relative;
	background: #fff;
	z-index: 1;
}

.carts-price:before, .select-and-amount text:last-child:before {
	content: '';
}

.select-and-amount {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 28rpx;
	background: #fff;
	padding:15rpx 20rpx;
}
.select-and-amount-mark {
	position: absolute;
	top: 10rpx;
	left: 20rpx;
	font-size: 28rpx;
}

.order-num {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	align-content: center;
	text-align: left;
	width: 100%;
	margin-bottom: 10rpx;
	border-top: 1rpx solid #F2F2F2;
	background: #fff;
	font-size: 28rpx;
	padding: 15rpx 30rpx;
}

.confirmbtn {
	display:flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	position: relative;
	margin-top:100rpx;
}

.confirmbtn form {
	width: 100%;
	text-align: center;
}
